.wrapper {
  display: flex;
  margin: 10px 2px;
  background: #ccc;
}

.column {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 20px;
  margin: auto 1px;
}

.bar {
  position: absolute;
  bottom: 0;
  width: 12px;
  background-color: #66ccff;
}
